<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/cardStyles.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 heading" >
                Mumbai,Maharashtra
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 date" >
                Mon, 12:30 PM 2019
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 temperature" >
               23<sup class="superscript">°C</sup>
            </div>
            <div class="col-md-6" >
               <img id="mainImage"  src="../img/sun.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
               <img src="">Mostly Sunny
            </div>
            <div class="col-md-6">
               <img src="">Weather Pressure
            </div>
        </div>
        <div class="row icons">
            <div class="col-md-6">
               <img src="../img/water.svg">3% precipitation
            </div>
            <div class="col-md-6">
               <img src="../img/leaf.svg">125 km/h speed
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 line">
            </div>
        </div>


    </div>
</body>

</html>
<script src="/js/app.js"></script>