body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}
#weatherCardDisplay {
    position: relative;
    left:-20px;
}
canvas{
    position: relative;
    left:0px;
}

.main-content {
    flex-grow: 1;
}

footer {
    position: relative;
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}
body {
    padding:30px;
}

.pressContent,.speedContent {
    text-align: right;
}

.container {
    color: #333333;
    font-family: arial;
    padding: 30px;
    width:450px;
    height:400px;
    box-shadow:0px 1px 10px 0px rgba(207,207,207,1);
}

.row {
    padding:3px;
}
.col-md-6,.col-md-12 {
    margin-bottom: 10px;
}
.heading {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    
}
.date {
    color:grey;
    text-align: center;

}
.temperature {
    font-size:80px;
    text-align: left;
}
.superscript {
    font-size:50px;
    text-align: left;
}

#mainImage{
    margin-top:5px;
    height:100px;
    float:right;
}

.icons div img {

    width:12px;
    height:15px;
}
.line {
    position: relative;
    border-top: 1px solid grey;

}




h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
    border-radius:50%;
}
/*hover zoom property */

input {
    border:1px solid #cccccc;
    padding:8px;
}
button {
    cursor:pointer;
    border:1px solid #888888;
    background: #888888;
    color:white;
    padding:8px;
}
.img-hover-zoom img {
    transition: transform .5s, filter 1.5s ease-in-out;
  filter: grayscale(100%);
  cursor: pointer;
  }

  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    filter: grayscale(0);
  transform: scale(1.1);
  }


  @media (max-width: 800px) {
    #weatherCardDisplay {
        left:0;
    }
    .heading {
        text-align: center;
    }
    .date {
        text-align:center;
    }
    #mainImage {
        margin-top:0px;
    }
    .temperature{
        text-align: center;
        font-size: 60px;
    }
    .pressContent,.speedContent {
        text-align: center;
    }
    
    #mainImage {
        float:none;
    }
    .row {
        padding:0;
        text-align:center;
    }
    .superscript{
        font-size:30px;
    }
  }
  @media (max-width: 400px) {
    body{
        padding:10px;
    }
   
    #weatherCardDisplay {
        left:0;
    }
    .main-content{
        flex-grow: 0;
    }
    .container{
        width:250px;
        height:350px;
        padding:5px;
        left:0;
    }
    .row {
        padding:2px;
    }
    .col-md-6,.col-md-12 {
        margin-bottom: 5px;
    }
    .heading {
        font-size: 20px;
    }
    .temperature {
        font-size:20px;
    }
    .superscript {
        font-size:10px;
        text-align: left;
    }
    
    #mainImage{
        margin-top:5px;
        height:30px;
    }
    input {
        width:180px;
    }
    .icons div img {
    
        width:12px;
        height:15px;
    }
    .line {
        
        border-top: 1px solid grey;
        margin:0 40px;
    
    }
    
  }